<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <template class="common-error-message-container" id="common-error-message-container">
        <div class="row"><div class="col-lg-12" id="common-errom-message-heading"></div></div>
        <div class="row"><div class="col-lg-2" onclick="">OK</div><div class="col-lg-2" onclick="">Cancel</div></div>
    </template>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/commonjs")
    @RenderSection("scripts", required: false)




    <div id="common-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close common-cancel" data-dismiss="modal">&times;</button>
                    <h4 id="modalheader" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default common-ok" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default common-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
