@model string

<nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
        <li class="nav-item @(Model == "AddTask"?"active":"")" style="font-size:30px">@Html.ActionLink("Form", "AddTask", "Home")</li>
        <li class="nav-item @(Model == "Todo"?"active":"")" style="font-size:30px">@Html.ActionLink("Todo", "Todo", "Home")</li>
        <li class="nav-item @(Model == "Active"?"active":"")" style="font-size:30px">@Html.ActionLink("Active", "Active", "Home")</li>
        <li class="nav-item @(Model == "Completed"?"active":"")" style="font-size:30px">@Html.ActionLink("Completed", "Completed", "Home")</li>
        <li class="nav-item @(Model == "CreateTeam"?"active":"")" style="font-size:30px">@Html.ActionLink("Team Management", "TeamManagement", "AddTeam")</li>
    </ul>
</nav>
