@model List<ViewModel.TaskTableViewModel>


@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}
@section Grid{
    @{Html.RenderPartial("PartialLinksView", "Active");}

    <div class="text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>UserName</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.taskId">
                        <td>@item.taskName</td>
                        <td>@item.description</td>
                        <td>@item.userName</td>
                        <td>
                            <a href="@Url.Action("MoveInToCompleted",new {id = item.taskId })" class="btn btn-success">Move</a>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#@(item.taskId + "_edit_modal")">Edit </button>
                            @*<a href="@Url.Action("Delete",new {id = item.taskId })" class="btn btn-danger">Delete</a>*@
                            <button type="button" onclick="DeleteTask(@item.taskId)">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
    @foreach (var item in Model)
    {

        <div class="modal fade" id="@(item.taskId + "_edit_modal")" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        @{Html.RenderPartial("PartialViewForAddTask", item);}

                        <br />
                        ...
                    </div>
                    
                </div>
            </div>
        </div>
    }


}

@section scripts{

    <script>
        function DeleteTask(id) {
            CommonNotifier.showInformation("task deleted", function () {
                Delete(id)
            })
        }
        function Delete(id) {
            commonAjaxCall({
                /* window.location.replace("/Home/Delete?id="+id);*/
                url: "/Home/Delete?id=" + id,
                success: (response) => {
                    $('#' + id).remove();
                }
            })

        }

    </script>
}
