@model ViewModel.TaskTableViewModel
@{
    ViewBag.Title = "FilForm";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}

@section Grid{
    @using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
    {
        <div style="font-weight:600;">Add new task</div>
        <lebel>Task Name</lebel>
        <div>@Html.TextBoxFor(x => x.taskName)</div>
        @Html.ValidationMessageFor(x => x.taskName)
        <lebel>Description</lebel>
        <div>@Html.TextBoxFor(x => x.description)</div>
        @Html.ValidationMessageFor(x => x.description)


        <div>
            <lebel>Task Current Status</lebel>
            <select id="sagar" name="taskStatus" class="select-2 col-lg-3">
                @foreach (var item in Model.taskStatusList)
                {
                    <option value="@item.id" >@item.text</option>
                }
            </select>


        </div>

        <div>
            <lebel>Assigneee</lebel>
            <select name="assigneeId" class="select-2 col-lg-3">
                @foreach (var item in Model.userList)
                {
                    <option value="@item.id" selected>@item.text</option>
                }
            </select>


        </div>
        <div style="margin-top:15px;">

            <button type="reset" style="background-color:lightcoral;float:right;">Clear All</button>
            <button type="submit"  style="background-color: lightgreen; float: right;">Add</button>

        </div>

        }
    }



@section scripts{
    <script>
        $("document").ready(function () {
            alert("button click");
        });
        function Test() {
            CommonNotifier.showInformation("hiee");
            CommonNotifier.showError("Error");
        }

            //$(document).ready(() => {
            //    commonAjaxCall({
            //        url: '/home/GetTaskTypeList',
            //        success: res => {
            //            console.log(res)
            //        }
            //    });

            //})



        /*    loadDropdownAjax({ id: 'sagar', url: '/home/GetTaskTypeList' })*/

    </script>
}