@model List<jiraDamy.entits.taskDataTable>
@{
    ViewBag.Title = "Completed";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<div class="container">
    <div class="row">





        <div class="col-lg-6 col-md-6 col-sm-6">
            @{Html.RenderPartial("PartialLinksView", "Completed");}

            <div class="text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>My Completed Task List</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.taskName</td>
                                <td>@item.description</td>
                                <td>

                                    <a href="@Url.Action("Delete",new {id = item.taskId })" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>