@model List<jiraDamy.entits.taskDataTable>
@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<div class="container">
    <div class="row">





        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-size:30px">@Html.ActionLink("Form", "FilForm", "Home")</li>
                    <li style="font-size:30px">@Html.ActionLink("Todo", "Index", "Home")</li>
                    <li style="font-size:30px">@Html.ActionLink("Active", "About", "Home")</li>
                    <li style="font-size:30px">@Html.ActionLink("Completed", "Contact", "Home")</li>
                </ul>
            </div>

            <div class="text-center">
                <table style="width:300px; font-size:19px; ">
                    <thead style="background-color: cornflowerblue; padding: 10px;">
                        <tr style="color: white;">
                            <th style="padding: 10px;">My Completed Task List</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.taskName</td>
                            <td>@item.description</td>
                            <td>

                                <a href="@Url.Action("Delete",new {id = item.taskId })" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>